<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:p="http://www.springframework.org/schema/p"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

   <!-- springConfig-servlet.xml -->
   <!-- 사용자 클래스 등록 & 뷰 리졸브 -->

   <context:annotation-config />

   <!-- InternalResourceViewResolver -->
   <bean p:prefix="/WEB-INF/views/" p:suffix=".jsp"
      class="org.springframework.web.servlet.view.InternalResourceViewResolver" />
	

   <context:component-scan base-package="com.model, com.controller" />



</beans>